.container {
  margin: 0 auto;
  text-align: center;
  width: 1000px;
  max-width: 85%;
  background-color: rgb(65, 194, 232);
  border-radius: 5px;
  padding: 96px;
  box-shadow: 0 0 10px 2px;
}
.choice {
  width: 470px;
  display: inline-block;
  padding: 10px 0 10px 10px;
  vertical-align: middle;
  background: rgb(246, 246, 250);
  margin: 10px 0 10px 10px;
  color: #000000;
  border-radius: 20px;
}
.result {
  height: 100px;
  text-align: center;
  font-size: 75px;
}

.question {
  padding: 40px;
  font-size: 22px;
  background: rgb(246, 246, 250);
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: #f6f6f6;
}
