.nav {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    max-width: 85%;
    background-color: rgb(65, 194, 232);
    border-radius: 5px;
    padding: 96px;
    box-shadow: 0 0 10px 2px;
}


.wrapper {
    margin: 0 auto;
    text-align: center;
    width: 800px;
    max-width: 85%;
    background-color: rgb(65, 194, 232);
    border-radius: 5px;
    padding: 96px;
    box-shadow: 0 0 10px 2px;
}
.startBtn {
    
}